
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body{
    height: 100vh;
}

h1{
    padding-top: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.container{
    background-color: #6F68BF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
    gap:1rem;
}

.add-new{
    padding: 0.5rem;
    background-color: azure;
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
}

form{

    display: none;
    grid-template-columns: repeat(auto-fit,minmax(max(18vw,18vh),1fr));
    gap: 1rem;
    justify-items: stretch;
    align-items: center;
    margin-top: 0;
}

form input{
    padding: 8px;
    height: 30px;
    border-radius: 0.5rem;
    border: 0;
}

form input:focus{
    outline: 0;
    border: 1px dashed black;
}

form div{
    height: 30px;
    margin: 0.2rem;
    display: flex;
    justify-content: space-between;
}

form div p{
    align-self: center;
}

form input[type="checkbox"]{
    border-radius: 0.5rem;
    border: 0;
}

form button{
    height: 30px;
    width: 30px;
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
}

.show{
    display: grid;
}

.list{
    flex-grow: 1;
    padding: 0 0.5rem;
    background-color: azure;
    border-radius: 0.5rem;
    border: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.book{
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
}

.book>div{
    flex: 1;
    overflow-x: scroll;
}

.book input{
    cursor: pointer;
    height: 1.1rem;
    width: 1.1rem;
    display: block;
    accent-color: black;
}

.book button{
    cursor: pointer;
    height: 1.3rem;
    width: 1.3rem;
    background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%2C4H15.5L14.5%2C3H9.5L8.5%2C4H5V6H19M6%2C19A2%2C2%200%200%2C0%208%2C21H16A2%2C2%200%200%2C0%2018%2C19V7H6V19Z%22%20%2F%3E%3C%2Fsvg%3E');
    border: 0;
}

